{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h2 class="text-center mt-4">Modification du profil
	</h2>

	<div class="registerForm m-5">

		{{ form_start(form) }}

		<div class="row">
			{{ form_row(form.nom) }}
		</div>
		<div class="row">
			{{ form_row(form.prenom ) }}
		</div>
		<div class="row">
			{{ form_row(form.mail ) }}
		</div>
		<div class="row">
			{{ form_row(form.password ) }}
		</div>
		<div class="row">
			{{ form_row(form.ville ) }}
		</div>
		<div class="row">
			{{ form_row(form.username ) }}
		</div>

		<button class="btn btn-success">{{ button_label|default('Confirmer') }}</button>
		<a class="btn btn-primary" href="{{ path('user_profile_modifier') }}">Retour</a>
	
		{{ form_end(form) }}

	</div>
{% endblock %}
