{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<section class="profil">
		<h2 class="text-center mt-4">Modification du profil
		</h2>
		<div class="container mt-4">
			<div class="content_userForm">
				{{ form_start(form) }}

				<div class="row d-flex justify-content-center justify-content ">
					<div class="col-3">
						{{ form_row(form.nom) }}
						{{ form_row(form.mail ) }}
					</div>
					<div class="col-3">
						{{ form_row(form.prenom ) }}
						{{ form_row(form.plainPassword ) }}
					</div>
					<div class="col-3">
						{{ form_row(form.ville ) }}
						{{ form_row(form.username ) }}
					</div>
				</div>
				<div class="d-flex justify-content-center mt-3">
					<div class=" m-5 ">
						<button class="btn btn-success">{{ button_label|default('Confirmer') }}</button>
						<a class="btn btn-primary" href="{{ path('user_profile_modifier') }}">Retour</a>

					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
