{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
{# 
		<h2>{{app.user.username}}</h2>
		<p>{{app.user.nom}}</p>
		<p>{{app.user.prenom}}</p>
		<button>{{app.user.prenom}}</button> #}

	<h1 class=" title text-center">Mes transferts</h1>
	<table>
		<thead>
			<tr>
				<th>Transfert</th>
				<th>Status</th>
				<th>Montant transfert</th>
				<th>Montant bénéficiaire</th>
				<th>Frais du transfert</th>
				<th>Nom bénéficiaire</th>
				<th>Tel bénéficiaire</th>
				<th>Date d'envoi</th>
				<th>Date pris charge</th>
				<th>Date livraison</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for transfert in transferts %}
				<tr>
					<td>{{ transfert.id }}</td>
					<td>{{ transfert.statut }}</td>
					<td>{{ transfert.montTransfert }}</td>
					<td>{{ transfert.montBenef }}</td>
					<td>{{ transfert.fraisTransfert }}</td>
					<td>{{ transfert.nomBenef }}</td>
					<td>{{ transfert.numTelBenef }}</td>
					<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ transfert.datePrisCharge ? transfert.datePrisCharge|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ transfert.dateLivr ? transfert.dateLivr|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_transfert_show', {'id': transfert.id}) }}" class="btn btn-success">Voir le transfert</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a class="btn btn-warning p-1 m-1" href="{{ path('app_transfert_edit', {'id': transfert.id}) }}">Modifier</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="16">Vous n'avez aucun Transfert</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
