{% extends 'base.html.twig' %}

{% block title %}Edit Transfert
{% endblock %}

{% block body %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">

    {# {{ form_start(form,{'attr': {'class': 'col-10'}}) }} #}
    {{ form_start(form, {'action': path('app_transfert_confirm'), 'method': 'POST','attr': {'class': 'col-10'}}) }}
    {# <form class="col-10"> #}
    <h4>Confirmation et paiement</h4>

    {# {{ form_widget(form) }} #}
    <div class="form-control col-8">
        {{ form_label(form.ville, 'Ville de destination') }}
        {{ form_widget(form.ville, {'attr': {'class': 'col-8'}}) }}
    </div>
    <div class="form-control">
        {{ form_label(form.nomBenef, 'Pour qui ?') }}
        {{ form_widget(form.nomBenef, {'attr': {'class': 'task_field'}}) }}
    </div>
    <div class="form-control">
        {{ form_label(form.numTelBenef, 'Ville de destination') }}
        {{ form_widget(form.numTelBenef, {'attr': {'class': 'task_field'}}) }}
    </div>
    <div class="form-control">
        {{ form_label(form.montBenef, 'Le beneficiaire reçoit') }}
        {{ form_widget(form.montBenef, {'attr': {'class': 'task_field','readonly' :true}}) }}
    </div>
    <div class="form-control">
        {{ form_label(form.fraisTransfert, 'Frais de transfert') }}
        {{ form_widget(form.fraisTransfert, {'attr': {'class': 'task_field','readonly' :true}}) }}
    </div>
    <div class="form-control">
        {{ form_label(form.montTransfert, 'Montant total à payer') }}
        {{ form_widget(form.montTransfert, {'attr': {'class': 'task_field','readonly' :true}}) }}
    </div>
    {# {{ form_row(form.comTransfert) }} #}
    <div class="d-flex justify-content-start mt-3">
        {# <button class="btn btn-success">{{ button_label|default('Confirmer') }}</button> #}
       {# {{ form_row(form.validate, {'attr': {'class': 'btn-primary'}}) }} #}
       <input type="submit" value="Confirmer">
        <button class="btn btn-success">{{ button_label|default('Retour') }}</button>
    </div>
    <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ confirm_token) }}">
    {{ form_rest(form) }}
    {{ form_end(form) }}
    {# </form> #}

</div>
</div>
{% endblock %}
