
{{ form_start(form) }}


{# <h1>Adding a new send</h1> #}

<div >
<p>1.00 EUR = 655.9570 CFA Franc BCEAO (XOF)</p>
<p>Ce taux de change ne varie pas entre Euro et FCFA </p>
</div>


{{ form_widget(form) }}

{# <div class="row">{{ form_row(form.expediteur) }}</div>
<div class="row">{{ form_row(form.ville) }}</div>
<div class="row">{{ form_row(form.montTransfert) }}</div>
<div class="row">{{ form_row(form.nomBenef) }}</div>
<div class="row">{{ form_row(form.agentLivreur) }}</div> 
<div class="row">{{ form_row(form.numBenef) }}</div> #}

<div class="d-flex justify-content-start mt-3">
	<button class="btn btn-success">{{ button_label|default('Envoyez') }}</button>
</div>

{{ form_end(form) }}
