<div class="container ">
	<div class="content_new">
		{{ form_start(form) }}

		<div class="row ">
			<div class="col-6">

				{{ form_row(form.montTransfert) }}
				{{ form_row(form.fraisTransfert) }}

			</div>

			<div class="col-6">

				{{ form_row(form.montBenef) }}
				{{ form_row(form.ville) }}

			</div>

			{{ form_row(form.nomBenef) }}
			{{ form_row(form.numBenef) }}
			{{ form_row(form.numTelBenef) }}
		</div>
		<div class="d-flex justify-content-center mt-3">
			<div class=" m-5 ">
				<button class="btn btn-success">{{ button_label|default('Enrigistrer') }}</button>
				<a class="btn btn-info m-1" href="/">Annuler</a>

			</div>
		</div>
		{{ form_end(form) }}
	</div>


</div>
