
{{ form_start(form) }}
{# <h1>Adding a new send</h1> #}
{# <p>le contenu de mon transfert</p> #}
{# {{ form_widget(form) }} #}

 {# <div class="row">{{ form_row(form.expediteur) }}</div>
<div class="row">{{ form_row(form.ville) }}</div>
<div class="row">{{ form_row(form.montTransfert) }}</div>
<div class="row">{{ form_row(form.nomBenef) }}</div>
<div class="row">{{ form_row(form.agentLivreur) }}</div>  #}

{# <div class="row">{{ form_row(form.numBenef) }}</div> #}


{{ form_end(form) }}
