{% extends 'base.html.twig' %}

{% block title %}facture
{% endblock %}

{% block body %}
	<div class="container h-100 mb-5">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success ">
				<strong class="font-bold">Succès !</strong>
				{{ message }}
			</div>
		{% endfor %}
		<p class"mb-2" style= "text-align:center">Votre bénéficiaire sera bientôt contacté par un de nos agents pour lui donner le fonds jusqu"a son domicile. <br> Rassurez-vous qu'il obtient les détails de votre tranfert pour être en mesure de le réceptionniste! </p>

		<h2 class"mb-3" style= "text-align:center">Votre reçu</h2>

		<table class="table_reçu " style="margin:0 auto; border:none; border-collapse: none; width:60vw;">

			<tbody>
				<tr>
					<th>Transfert</th>
					<td>N° {{ transfert.id }}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{{ transfert.statut }}</td>
				</tr>
				<tr>
					<th>Code secret à donner à l'agent par le bénéficiaire </th>
					<td>{{ transfert.codeSecret }}</td>
				</tr>
				<tr>
					<th>Montant total que vous avez payé</th>
					<td>{{ transfert.montTransfert}}€</td>
				</tr>
				<tr>
					<th>Total reçu par le Bénéficiaire</th>
					<td>{{ transfert.montBenef }}XOF (Frans CFA)</td>
				</tr>
				<tr>
					<th>Frais de transfert</th>
					<td>{{ transfert.fraisTransfert }}€</td>
				</tr>

				<tr>
					<th>Nom du bénéficiaire</th>
					<td>{{ transfert.nomBenef }}</td>
				</tr>
				<tr>
					<th>Ville du bénéficiaire</th>
					<td>{{ transfert.ville }}</td>
				</tr>
				<tr>
					<th>Cate d'identité du bénéficiaire</th>
					<td>N°: {{ transfert.numBenef }}</td>
				</tr>
				<tr>
					<th>Telephone du bénéficiaire</th>
					<td>N° tel: {{ transfert.numTelBenef }}</td>
				</tr>
				<tr>
					<th>Date d'envoi</th>
					<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
				</tr>

			</tbody>
			
		</table>

		<div class="text-center d-flex justify-content-center">
			<a class="btn btn-primary p-2 m-3 " href="/">Retour</a>
		</div>

	</div>


{% endblock %}
