{% extends 'base.html.twig' %}

{% block title %}Liste des transferts
{% endblock %}

{% block body %}

	<div class="container">
		{% if is_granted('ROLE_PARTNER')%}
			<h2 class="text-center m-4">Liste des transferts</h2>
		{% elseif is_granted('ROLE_USER') %}
			<h2 class="text-center m-4">Historique</h2>
		{% endif %}

		<a class="btn btn-primary text-center mb-3" style="margin-left: 61.8px" href="{{ path('app_transfert_new') }}">Passer un nouveau transfert <i class="fa fa-paper-plane"></i></a>
		<table class="container-fluid">
			<thead>
				<tr>
					<th>Transfert</th>
					<th>Statut</th>
					<th>Ville du bénéficiaire</th>
					{# <th>CodeSecret</th> #}
					{# <th>Commission Agent</th> #}
					<th>Nom bénéficiaire</th>
					<th>Montant bénéficiaire</th>
					{# <th>N° pièce bénéficiaire</th>
					<th>Tel bénéficiaire</th> #}

					{# {% if is_granted('ROLE_ADMIN')%}
						<th>Frais du transfert</th>
						<th>Montant transfert</th>
						<th>Commission du site</th>
					{% endif %} #}

					<th>Date d'envoi</th>
					<th>Date pris charge</th>
					<th>Date livraison</th>
					<th>Is_visible</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for transfert in transferts %}
					<tr>
						<td>{{ transfert.id }}</td>
						<td>{{ transfert.statut }}</td>
						<td>{{transfert.ville}}</td>
						{# <td>{{ transfert.codeSecret }}</td> #}
						{# <td>{{ transfert.comAgentLivreur }}</td> #}
						<td>{{ transfert.nomBenef }}</td>
						<td>{{ transfert.montBenef }}</td>
						{# <td>{{ transfert.numBenef }}</td>
						<td>{{ transfert.numTelBenef }}</td> #}


						{# {% if is_granted('ROLE_ADMIN')%}
							<td>{{ transfert.fraisTransfert }}</td>
							<td>{{ transfert.montTransfert }}</td>
							<td>{{ transfert.comTransfert }}</td>
						{% endif %} #}


						<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.datePrisCharge ? transfert.datePrisCharge|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.dateLivr ? transfert.dateLivr|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.isVisible ? 'Yes' : 'No' }}</td>
						<td>
							<a class="btn btn-info p-1 m-1" href="{{ path('app_transfert_show', {'id': transfert.id}) }}"><i class="fa fa-eye"></i>Details</a>
							{% if is_granted('ROLE_ADMIN') and (transfert.dateLivr == null) %}
								<a class="btn btn-warning p-1 m-1" href="{{ path('app_transfert_edit', {'id': transfert.id}) }}"><i class="fa fa-edit"></i>Modifier</a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="16">Il n'y a aucun transfert disponible pour l'instant</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
