{% extends 'base.html.twig' %}

{% block title %}Transfert index
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<h1 class="text-center">Liste de tous les Transferts</h1>

		<table class="home_continent mt-5">
			<thead>
				<tr>

					<th>Id</th>
					<th>Statut</th>
					<th>CodeSecret</th>
					<th>MontTransfert</th>
					<th>MontBenef</th>
					<th>FraisTransfert</th>
					<th>ComTransfert</th>
					<th>ComAgentLivreur</th>
					<th>NomBenef</th>
					<th>NumBenef</th>
					<th>NumTelBenef</th>
					<th>DateEnvoi</th>
					<th>DatePrisCharge</th>
					<th>DateLivr</th>
					<th>Is_visible</th>
					<th>actions</th>
				</tr>
			</thead>

			<tbody>
				{% for transfert in transferts %}
					<tr>
						<td>{{ transfert.id }}</td>
						<td>{{ transfert.statut }}</td>
						<td>{{ transfert.codeSecret }}</td>
						<td>{{ transfert.montTransfert }}</td>
						<td>{{ transfert.montBenef }}</td>
						<td>{{ transfert.fraisTransfert }}</td>
						<td>{{ transfert.comTransfert }}</td>
						<td>{{ transfert.comAgentLivreur }}</td>
						<td>{{ transfert.nomBenef }}</td>
						<td>{{ transfert.numBenef }}</td>
						<td>{{ transfert.numTelBenef }}</td>
						<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.datePrisCharge ? transfert.datePrisCharge|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.dateLivr ? transfert.dateLivr|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.isVisible ? 'Yes' : 'No' }}</td>
						<td>
							<a class="btn btn-primary p-1 m-1" href="{{ path('app_transfert_show', {'id': transfert.id}) }}">Afficher</a>
							<a class="btn btn-warning p-1 m-1" href="{{ path('app_transfert_edit', {'id': transfert.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="16">Aucun Transfert n'a été créée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

 <div class="text-center">
            <a class="btn btn-success" href="{{ path('app_transfert_new') }}">Créer un New Transfert</a>
        </div>
		

	</div>
{% endblock %}
