{% extends 'base.html.twig' %}

{% block title %}Transfert index
{% endblock %}

{% block body %}

	<div class="container-fluid">
		{% if is_granted('ROLE_ADMIN')%}
			<h2 class="text-center">Historique des transferts</h2>
		{% elseif is_granted('ROLE_USER') %}
			<h2 class="text-center">Historique de mes transferts</h2>
		{% endif %}

		
		{% for transfert in app.flashes('succes') %}
		<div class="alert alert-succes">
		{{message}}
		
		</div>
			
		{% endfor %}


		<table class="container-fluid">
			<thead>
				<tr>
					<th>Transfert</th>
					<th>Status</th>
					{# <th>CodeSecret</th> #}
					<th>Montant transfert</th>
					<th>Montant bénéficiaire</th>
					<th>Frais du transfert</th>
					{# <th>ComTransfert</th> #}
					{# <th>ComAgentLivreur</th> #}
					<th>Nom bénéficiaire</th>
					<th>Pièce bénéficiaire</th>
					<th>Tel bénéficiaire</th>
					<th>Date d'envoi</th>
					<th>Date pris charge</th>
					<th>Date livraison</th>
					<th>Is_visible</th>
					<th>actions</th>
				</tr>
			</thead>

			<tbody>
				{% for transfert in transferts %}
					<tr>
						<td>{{ transfert.id }}</td>
						<td>{{ transfert.statut }}</td>
						{# <td>{{ transfert.codeSecret }}</td> #}
						<td>{{ transfert.montTransfert }}</td>
						<td>{{ transfert.montBenef }}</td>
						<td>{{ transfert.fraisTransfert }}</td>
						{# <td>{{ transfert.comTransfert }}</td> #}
						{# <td>{{ transfert.comAgentLivreur }}</td> #}
						<td>{{ transfert.nomBenef }}</td>
						<td>{{ transfert.numBenef }}</td>
						<td>{{ transfert.numTelBenef }}</td>
						<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.datePrisCharge ? transfert.datePrisCharge|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.dateLivr ? transfert.dateLivr|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ transfert.isVisible ? 'Yes' : 'No' }}</td>
						<td>
							<a class="btn btn-primary p-1 m-1" href="{{ path('app_transfert_show', {'id': transfert.id}) }}">Afficher</a>
							{% if is_granted('ROLE_ADMIN') and (transfert.dateLivr == null) %}
								<a class="btn btn-warning p-1 m-1" href="{{ path('app_transfert_edit', {'id': transfert.id}) }}">Modifier</a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="16">Aucun Transfert n'a été créée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="container-fluid text-center">
			<a class="btn btn-success" href="{{ path('app_transfert_new') }}">Créer un New Transfert</a>
		</div>


	</div>
{% endblock %}
