{% extends 'base.html.twig' %}

{% block title %}Details du transfert
{% endblock %}

{% block body %}
	<div class="container ">
		<h2 class="text-center m-3">
			Transfert
			{{ transfert.statut }}</h2>

		<table class="table" style="margin:0 auto">
			<tbody>
				<tr>
					<th>Transfert</th>
					<td>N°: {{ transfert.id }}</td>
				</tr>
				<tr>
					<th>Expediteur du transfert</th>
					<td>{{ transfert.expediteur }}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{{ transfert.statut }}</td>
				</tr>
				<tr>
					<th>Code secret</th>
					<td>{{ transfert.codeSecret }}</td>
				</tr>
				<tr>
					<th>Montant total du transfert</th>
					<td>{{ transfert.montTransfert }} €</td>
				</tr>
				<tr>
					<th>Montant pour le Bénéficiaire</th>
					<td>{{ transfert.montBenef }} XOF (F.CFA)</td>
				</tr>

				{% if is_granted('ROLE_ADMIN')%}
				<tr>
					<th>Frais de transfert</th>
					<td>{{ transfert.fraisTransfert }} €</td>
				</tr>
				<tr>
					<th>Commission du site</th>
					<td>{{ transfert.comTransfert }} € </td>
				</tr>

				{% endif %} 
				
				{% if is_granted('ROLE_PARTNER')%}
				<tr>
					<th>Commission de l'Agent livreur</th>
					<td>{{ transfert.comAgentLivreur }} €</td>
				</tr>
				{% endif %} 
				<tr>
					<th>Nom du bénéficiaire</th>
					<td>{{ transfert.nomBenef }}</td>
				</tr>
				<tr>
					<th>Numero d'identité du bénéficiaire</th>
					<td>N°: {{ transfert.numBenef }}</td>
				</tr>
				<tr>
					<th>Telephone du bénéficiaire</th>
					<td>N°tel: {{ transfert.numTelBenef }}</td>
				</tr>
				<tr>
					<th>Ville du bénéficiaire</th>
					<td>{{ transfert.ville }}</td>
				</tr>
				<tr>
					<th>Date d'envoi</th>
					<td>{{ transfert.dateEnvoi ? transfert.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de pris en charge</th>
					<td>{{ transfert.datePrisCharge ? transfert.datePrisCharge|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Date de livraison</th>
					<td>{{ transfert.dateLivr ? transfert.dateLivr|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>
		<div class="text-center d-flex justify-content-center">
			{% if is_granted('ROLE_PARTNER') and transfert.datePrisCharge == null %}
				<a class="btn btn-warning p-1 m-3" href="{{ path('app_transfert_take', {'id': transfert.id}) }}">Prendre en charge</a>
			{% elseif is_granted('ROLE_PARTNER') and  transfert.dateLivr == null %}
				<a class="btn btn-warning p-1 m-3" href="{{ path('app_transfert_delivery', {'id': transfert.id}) }}"><i class="fa fa-truck"></i> Livrer le transfert</a>
			{% endif %}

			<a class="btn btn-primary p-1 m-3" href="{{ path('app_transfert_index') }}">Retour</a>
			
			{% if is_granted('ROLE_ADMIN') %}
				{{ include('transfert/_delete_form.html.twig') }}
			{% endif %}
		</div>


	</div>

{% endblock %}
