{% extends 'base.html.twig' %}

{% block title %}Projet Utilisateurs
{% endblock %}

{% block body %}


	<div class="example-wrapper">


		{# <table class="home_continent">
			<thead>
				<tr>
					<th>Montant pour le bénéficiaire</th>
					<th>Votre commission </th>
					<th>AgentLivreur</th>
					<th>Transfert disponible</th>
					<th>Transfert Livré</th>
					
				</tr>
			</thead>
			<tbody>
				{% for transfert in transferts %}
					<tr>
						
						<td>{{ transfert.montBenef }}</td>
						<td>{{ transfert.comAgentLivreur }}</td>
						<td>{{ transfert.agentlivreur }}</td>
						<td>{{ transfert.is_visible }}</td>
						<td>{{ transfert.is_visible }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>  #}

		{% if app.user %}
				<div class="text-center mt-3">
					<a href="{{ path('app_transfert_new')}}" class="btn btn-success text-center mt-3">Prendre en charge un Transfert</a>
				</div>
				<div class="text-center mt-3">
					<a href="{{ path('app_transfert_new')}}" class="btn btn-success text-center mt-3">Transfert Livré</a>
				</div>
		{% endif %}
	</div>

	
{% endblock %}
