{% extends 'base.html.twig' %}

{% block title %}Ville
{% endblock %}

{% block body %}

<div class="container">
	<h1 class="title next-center nt-4 text-dark">transfert appartenant à :
		{{vil.name}}</h1>
	<table class="table nt-4 text-muted">
		<thead>
			<tr>
				<th class="text-info text-center">EXPEDITEUR</th>
				<th class="text-info text-center">AGENTS</th>
				<th class="text-info text-center">TRANSFERTS
					{# {{vil.name}}</th> #}
				</th>
			</tr>
		</thead>
		{% for transfert in vil.transferts %}
			<tbody>
				<tr>
					{# <td> <a href="{{transfert.id}}"></a></td>
															{{path('tab', {id:ville.id})}} #}

					<td>
						<a class="btn btn-outline-success" href="/profile">
							<i class="fa-solid fa-user">
								{{transfert.expediteur}}</i>
						</a>
					</td>
					<td>
						<a class="btn btn-outline-success" href="/profile">
							<i class="fa-solid fa-user">
								{{transfert.agentlivreur}}</i>
						</a>
					</td>

					<td>numéro:
						<a class="btn btn-outline-success p-1 m-1" href="{{ path('app_transfert_show', {'id': transfert.id}) }}">{{transfert.id}}</a>
					</td>
				</tr>
			</tbody>
		{% else %}
			<tr>
				<td colspan="12">Pas de transfert disponible pour cette Ville</td>
			</tr>
			{# <tr>
        <td colspan="12">Pas d'agent disponible</td>
      </tr> #}
			{%endfor%}

		</table>
	</div>
	{%endblock%}
