{% extends 'base.html.twig' %}

{% block title %}Villes disponible
{% endblock %}

{% block body %}

<div class="container">
	<h1 class="title next-center nt-4 text-dark">Transferts par Ville :
		{{vil.name}}</h1>
	<table class="table nt-4 text-muted">
		<thead>
			<tr>
				<th class="text-info text-center">EXPEDITEUR</th>
				<th class="text-info text-center">AGENTS</th>
				<th class="text-info text-center">TRANSFERTS</th>
				
			</tr>
		</thead>
		{% for transfert in vil.transferts %}
			<tbody>
				<tr>
					<td>
						<a class="btn btn-outline-success" href="{{ path('user_profile_modifier')}}">
							<i class="fa-solid fa-user">
								{{transfert.expediteur}}</i>
						</a>
					</td> 

					<td>
					{% if (transfert.agentlivreur == null) %}
						<p>pas d'agent pour l'instant</p>

					{% elseif (transfert.agentlivreur != null) %}
						<a class="btn btn-outline-success" href="{{ path('user_profile_modifier')}}">
							<i class="fa-solid fa-user">
								{{transfert.agentlivreur}}</i>
						</a>
					{% endif %}
					</td>

					<td>numéro:
						<a class="btn btn-outline-success p-1 m-1" href="{{ path('app_transfert_show', {'id': transfert.id}) }}">{{transfert.codeSecret}}</a>
					</td>
				</tr>
			</tbody>
		{% else %}
			<tr>
				<td colspan="12">Pas de transfert disponible pour cette Ville</td>
			</tr>
			{%endfor%}
		</table>
	</div>
	{%endblock%}
