<div class="ville">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="d-flex justify-content-center mt-3">
		<div class=" m-5">
			<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
			<a class="btn btn-info m-1" href="{{ path('app_ville_index') }}">Annuler</a>
		
		</div>
	</div>

	{{ form_end(form) }}
</div>