{% extends 'base.html.twig' %}

{% block title %}Détails de la Ville{% endblock %}

{% block body %}
   <div class="container" >
    <h2 class="mt-3" >Ville de {{ ville.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ville.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_ville_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('app_ville_edit', {'id': ville.id}) }}"><i class="fa fa-edit"></i> Modifier</a>

    {# {{ include('ville/_delete_form.html.twig') }} #}
   </div>
{% endblock %}
