<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
			<div class="navbar-nav d-flex justify-start" >
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link " href="{{path('app_logout')}}">se deconnecter</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href="{{ path('app_transfert_new')}}">Passer votre Transfert</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_register')}}">s'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}">se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}" >Envoyer de l'argent</a>
					</li>

				{% endif %}

			</div>
		
	</div>
</nav>