<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_home')}}">
			<img src="{{asset('img/E-CFA.png')}}" alt="logo" style=" width:75px; border-radius:50%;"> SEND-€-CFA
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{# <form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form> #}

		<div class="navbar-nav ">
			<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_transfert_new')}}">Envoyer de l'argent</a>
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<!-- Infos Menu Admin -->
					<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_transfert_index')}}">Gestion des transferts</a>
					<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_user_index')}}">Gestion des utilisateurs</a>
					<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_ville_index')}}">Gestion des villes</a>
					<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_transfert_index')}}">Statistiques</a>
				{% else %}
					<a class="nav-link" style="color:rgb(186,124,51)" href="{{ path('app_transfert_index')}}">Mes transferts</a>
				{% endif %}
				<p class="nav-item nav-link text-success">Connecté:
					{{app.user.nom}}
					{{app.user.prenom}}</p>
				<a class="nav-item nav-link" href="{{ path('user_profile_modifier')}}">
					<i class="fa-solid fa-user"></i>
				</a>
				<a class="nav-link " href="{{path('app_logout')}}">Déconnexion</a>
			{% else %}
				<a class="btn btn-outline-success me-2" href="{{path('app_register')}}">Inscription</a>
				<a class="btn btn-outline-success" href="{{path('app_login')}}">Connexion</a>
				{# <a class="btn btn-outline-light ms-2 me-2"style="color:rgb(186,124,51)" href="{{path('app_login')}}">Envoyer de l'argent</a> #}
			{% endif %}
		</div>
	</div>
</nav>
