{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs
{% endblock %}

{% block body %}

	<section class="list_utilisateur">
		<h2 class="text-center" >Liste des utilisateurs</h2>

		<div class="container-fluid">

			<table class="container-fluid w-50">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom utilisateur</th>
						<th>Ville</th>
						<th>Roles</th>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.ville }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>{{ user.nom }}</td>
							<td>{{ user.prenom }}</td>
							<td>{{ user.mail }}</td>
							<td>
								<a class="btn btn-warning p-1 m-1" href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
								<a class="btn btn-primary p-1 m-1" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary text-center"href="{{ path('app_user_new') }}">Ajouter</a>
		</div>
	</section>
{% endblock %}
