{% extends 'base.html.twig' %}

{% block title %}Détails du Profile
{% endblock %}

{% block body %}
	<div class="container vh-100">
		<h1 class="text-center m-3">Information personnelle</h1>

		<div class="content_edit d-flex flex-column">

			<table class="table text-center" style="margin:0 auto">
				<tbody>
					{% if is_granted('ROLE_ADMIN')%}
            <tr>
              <th>Id</th>
              <td>{{ user.id }}</td>
            </tr>
					{% endif %}

					<tr>
						<th>Nom utilisateur</th>
						<td>{{ user.username }}</td>
					</tr>
          	{% if is_granted('ROLE_ADMIN')%}
					<tr>
						<th>Roles</th>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					</tr>
          	{% endif %}
						{# <tr>
							<th>Mot de passe</th>
							<td>{{ user.password }}</td>
						</tr> #}
					<tr>
						<th>Nom</th>
						<td>{{ user.nom }}</td>
					</tr>
					<tr>
						<th>Prenom</th>
						<td>{{ user.prenom }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ user.mail }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ user.ville }}</td>
					</tr>
				</tbody>
			</table>
			{% if is_granted('ROLE_ADMIN') %}
				<div class="button" style="margin:0 auto">
					<a class="btn btn-primary p-1 m-1" href="{{ path('app_user_index') }}">Retour à la liste</a>
					<a class="btn btn-warning p-1 m-1 " href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
					
				</div>
			{% elseif is_granted('ROLE_USER') %}
				<div class="button" style="margin:0 auto">
					<a class="btn btn-warning p-1 m-3" href="{{ path('app_profile', {'id': user.id}) }}"><i class="fa-solid fa-user-pen"></i> Modifier</a>
					<a class="btn btn-primary p-1 m-3" href="{{ path('user_profile_modifier') }}">Retour</a>
				</div>
			{% endif %}
		</div>


	</div>
{% endblock %}
